*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
font-family: 'Sora', sans-serif;
}

a{
  text-decoration: none;
}

/* NAV */
.navbar {
    overflow: hidden;
    background-color:#25438C;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    padding-inline: 5%;
    align-items: center;
    display: flex;
    z-index: 2;
  }
  .logo{
    display: flex;
    align-items: center;
    flex: 1;
  }
  .items {
    margin-inline: 5px;
    color: white;
  }
  .nav-menu {
    display: flex;
    align-items: center;
  }
  .menu-items{
    margin-inline: 15px;
    color: white;
  }
  .menu-items:hover{
    color: #C4C4C4;
  }
  .active{
    color: #C9FEFF;
  }

/* BANNER */
.banner{
  margin-block: 21%;
  margin-inline: 15%;
  text-align: center;
}

/* EVENTS */
 .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    size: 250 300;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    background-color: #C4C4C4;
  }

  .card img {
    background-color: white;
  }

  .events-cards {
    margin-left: 10.5%;
  }

  .container {
    width: 90%;
    margin: 50px auto;
  }

  .heading {
    text-align: center;
    margin-bottom: 50px;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }

  .card {
    width: 20%;
    background: #C4C4C4;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
  }

  .card-header {
    padding: 10px 10px;
  }

  .card-header img {
    width: 100%;
    height: auto;
    width: 220;
    height: 150;
    background: #fefefe;
  }

  .card-body {
      padding: 30px 20px;
      text-align: center;
      font-size: 18px;
  }

  .card-body .btn {
      display: block;
      color: black;
      text-align: center;
      background: #fefefe;
      margin-top: 30px;
      text-decoration: none;
      padding: 10px 5px;
  }

  .card:hover {
      transform: scale(1.05);
      box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }

  /* Responsive media queries */
  @media screen and (max-width: 1000px){
      .card {
          width: 40%;
      }
  }

  @media screen and (max-width: 620px){
      .container {
          width: 100%;
      }

      .heading {
          padding: 20px;
      }
      .card {
          width: 80%;
      }
  }

/* OFFICERS' PROFILE */
  main {
      width: 100%;
      height: 400px;
      overflow: hidden;
      position: relative;
  }
  .carousel-cards h2 {
      width: 98%;
      font-weight: bold;
      text-align: center;
  }
  .carousel-cards span {
      position: absolute;
      top: 45%;
      font-size: 60px;
      font-weight: bold;
      color: white;
      cursor: pointer;
      left: 5%;
      z-index: 1;
  }
  .carousel-cards span:nth-of-type(2) {
      left: 90%;
      text-align: right;
      z-index: 1;
  }
  .carousel-cards section {
      width: 98%;
      height: 300px;
      /* background: #f4f4f4; */
      margin: 10px auto;
      display: flex;
      justify-content: left;
      overflow-x: auto;
  }
  .carousel-cards section::-webkit-scrollbar {
      visibility: hidden;
  }
  .carousel-cards div {
      min-width: 225px;
      height: 250px;
      position: relative;
      left: 0;
      text-align: center;
      padding-top: 0px;
      font-size: 100px;
      font-weight: bold;
      margin: 10px 20px;
      color: white;
      background: #C4C4C4;
      transition: 0.5s;
  }

/* FOOT */  
  .footer{
    background-color: #25438C;
    color: white;
    text-align: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding-inline: 5%;
    padding-block-start: 2%;
    padding-block-end: 1%;
    vertical-align: middle;
  }
  .foot{
    display: flex;
    margin-block: 2.5%;
  }
  .foot-base{
    display: flex;
  }
  .base-items{
    margin-inline: 10px;
  }

  .foot-left, .foot-centered, .foot-right{
    text-align: center;
    margin: auto;
  }

/* Social Media Buttons */
.sub-footer {
  display: grid;
  place-items: center;
}
.wrapper .button{
  color: #446CFC;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 10px;
  overflow: hidden;
  background: white;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all .3s ease-out;
}
.wrapper .button:hover{
  width: auto;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #446CFC;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #446CFC;
}

.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  margin-inline: 10px; 
  transition: all .3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: blue;
}
.wrapper .button:nth-child(2) span{
  color: blue;
}

.icon{
  color: #446CFC;
}
.wrapper{
  margin-top: 10px;
}
