* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4 {
font-family: 'Sora', sans-serif;
}
a{
  text-decoration: none;
  color: #000;
}
ul{
  list-style-type: none;
}

/* -------------- NAVIGATION ---------------- */
  nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #ffff;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5%;
    flex-wrap: wrap;
    z-index: 100;
  }
  .navi{
    top: 0;
    position: sticky;
    position: -webkit-sticky;
  }
  nav .logo{
    display: flex;
    align-items: center;
    color: #fff;
  }
  .logo a{
    color: #000;
    margin-right: 10px;
  }

  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #000;
    text-decoration: none;
    padding: 8px 15px;
    transition: all 0.3s ease;
  }
  nav ul li a.active{
    border-bottom: 3px solid deepskyblue;
  }
  nav ul li a:hover{
    color: deepskyblue;
  }
  nav .menu-btn i{
    color: black;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
 /* -------------- E-N-D  NAVIGATION ---------------- */

 /* -------------- FOOTER ---------------- */
 .footer-fluid{
   margin-top: 7.5%;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 3% 2% 2% 2%;
}
.footer-title{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-cont{
  align-items: center;
  padding: 1%;
  width: 30%;
}
.footer-links{
  border: 2px solid black;
  margin: 2%;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-links.f:hover{
background-color: dodgerblue;
}
.footer-links.g:hover{
  background-color: #9e9df8;;
}
.footer-links.l:hover{
  background-color: deepskyblue;
}
.footer-links.a:hover{
  background-color: rgb(248, 153, 153);
}
.link-row{
  display: flex;
}
.footer-links i{
  font-size: 50px;
}
/* -------------- E-N-D  FOOTER ---------------- */

/* ---------------------- H-O-M-E-P-A-G-E ---------------------- */
/* BANNER */
.banner{
  padding: 6% 5% 10% 5%;
  text-align: left;
  display: flex;
  flex-direction: row;
}
.banner .text{
  flex: 1.7;
}
.banner .photo{
  flex: 1;
  text-align: center;
  align-self: center;
}
#title-1, #title-2 {
  font-family: 'Sora';
  font-weight: 800;
  line-height: 1.1;
}
#title-1 {
  font-size: 100px;
}
#title-2 {
  font-size: 70px;
  color: #4844FC;
}
.aim-desc{
  margin-top: 30px;
  margin-right: 30px;
  font-size: large;
  color: #555555;
 }

 /* EVENTS FLUID */
 .events-fluid{
   padding: 6%;
  display: flex;
  flex-direction: row;
 }
 .e-cards{
   flex: 1;
   background-color: rgb(239, 253, 255);
   margin: .7%;
   padding: 2%;
   height: 270px;
   border-radius: 5px;
   position: relative;
 }
 .e-cards:hover, .oi-cards:hover{
  transform: translate3d(0px, -5px, 0px) !important;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s !important;
 }
 .e-text{
   text-align: center;
   height: 120px;
   font-size: 14px;
   display: flex;
   align-items: center;
 }
.e-icons{
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  align-items: center;
  width: 80%;
}
.e-photo{
  flex: 1.5;
  text-align: center;
  margin-right: 10px;
}
.e-title{
  flex: 3;
}
.e-expand{
  text-align: right;
}
.e-expand i:hover{
color: #4844FC;
}
.e-sub{
  font-weight: lighter;
  color: #494949;
}
.events-title, .officers-title
{
  text-align: center;
}

/* OFFICERS & INSTRUCTORS */
.officers-title{
  margin-top: 5%;
}
.officers-fluid{
  padding: 7% 5% 7% 5%;
 display: flex;
 flex-direction: row;
}
.oi-cards{
  flex: 1;
  background-color: rgb(255, 239, 239);
  margin: .7%;
  padding: 1%;
  height: 270px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.oi-photo{
  flex: 2;
}
.oi-text{
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}


/* JOIN US */
.join-fluid{
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 5%;
}
.join-cont h1{
  font-size: 50px;
  margin-bottom: 5%;
}
.join-cont{
  width: 50%;
}
.join-cont p{
  margin: 5%;
}

.join-cont a{
  background-color: deepskyblue;
  border: 2px solid black;
  padding: 2% 3%;
  border-radius: 5px;
}

.join-cont a:hover{
background-color: rgb(169, 239, 248);
}

/* ---------------------- E-N-D  H-O-M-E-P-A-G-E ---------------------- */


/* ---- ------ --------- RESPONSIVENESS -------- --------- ------ */
@media screen and (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media screen and (max-width: 1080px) {
  nav .menu-btn i{
    display: block;
    color: black;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: #fff;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 10px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    border: none;
    background: none;
    color: deepskyblue;
  }
}
@media screen and (max-width: 440px){
.items-aim{
  display: none;
}
}

@media only screen and (max-width: 1220px){
  .foot{
  display: block;
  }
  .side{
    display: flex;
  }
  .foot-left, .foot-centered, .foot-right-hide{
    margin-top: 7%;
  }
  .foot-right{
    display: none;
  }
  .foot-right-hide{
    display: block;
  }
  .base-items{
    margin-top: 1%;
  }
  .foot-base{
    margin-top: 5%;
  }
}

@media screen and (max-width: 660px){
  .foot-base, .side{
    display: block;
  }
}
/* ---- ------ --------- RESPONSIVENESS -------- --------- ------ */

/* ---------------------- S-T-A-R-T A-B-O-U-T U-S ---------------------- */
/* COVER */
.about-us{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5% 0% 5% 5%;
}
.ab-title {
  font-size: 40px;
  flex: 2;
}
.ab-photo{
  border-radius: 25px;
}
.about-color span{
  color: dodgerblue;
}

/* MISSION VISION */
.mv-fluid{
  padding: 5% 5% 5% 17%;
}
.slider{
  display: flex;
  padding: 3%;
}
.content_container ul{
  list-style: none;
  padding: 0;
}
.content_container ul > * + *{
  margin-top: 10px;
  margin: 0;
}
.slide_navigation li a{
  display: block;
  margin: 0;
  border-left: 1px solid rgb(172, 172, 172);
  padding: 10%;
  color: #333;
}
.slide_navigation li a.active{
  color: dodgerblue;
  border-left: 3px solid dodgerblue;
}
.slider{
  max-width: 1000px;
  grid-template-columns: 20% 80%;
  position: relative;
  display: grid;
  border-radius: 5px;
}
.slider .content_container{
  align-content: center;
}
.slider .slides{
  overflow-y: auto;
  max-height: 290px;
  scrollbar-width: none;
}
.slider .slides::-webkit-scrollbar{
  display: none;
}
.slider .slides .slide{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  color: #333;
  align-items: center;
}
.inner_content p{
  color: #333;
  font-size: 14px;
}
.inner_content h1{
  color: #000;
  margin-bottom: 3%;
}

/* FOUNDERS */
.founders-fluid{
  padding: 3% 15%;
}
.f-card{
  display: flex;
  margin-bottom: 10%;
}
.f-pic{
  flex: 0.8;
}
.f-pic img{
  border-radius: 150px;
}
.f-desc{
  font-size: 14px;
  flex: 2;
  text-align: justify;
}
.f-desc h1{
  margin-bottom: 1%;
}
.f-desc a{
  border: 2px solid black;
  border-radius: 2px;
  padding: 5px;
  background-color: rgb(213, 183, 248);
}
.f-desc a:hover{
  background-color: rgb(245, 219, 255);
}

/* OFFICERS */
.aim-fluid{
  display: block;
  margin: 7% 0;
}
.ao-title{
  text-align: center;
}
.of-row{
  display: flex;
  padding: 3%;
}
.p-pic img {
  border-radius: 50%;
  margin: 20px auto;
  display: block;
  height: 150px;
  width: 150px;
  border: 5px solid rgb(255, 255, 255);
}
.profile-card {
  margin: 0 auto;
  display: block;
  height: 190px;
  width: 190px;
  border-radius: 50%;
  overflow: hidden;
  transition: all ease 0.5s;
}
.one-2{
  background-color: #bfe8f8;
}
.one-9{
  background-color: #f9dbff;
}
.one-8{
  background-color: #fcdad0;
}

.profile-card:hover {
  border-radius: 5px;
  height: 350px;
  width: 300px;
}
.p-header {
  text-align: center;
}
.p-header h2 {
  margin: 0 5%;
  position: relative;
  text-align: center;
  display: inline-block;
}
.profile-bio h3 {
  text-align: center;
  margin: 0;
}

.profile-bio {
  margin-top: 20px;
  padding: 1px 20px 10px 20px !important;
  font-size: 14px;
  opacity: 0;
}

.profile-card:hover .profile-bio {
  opacity: 1;
}

.profile-bio p {
  text-align: center;
  font-size: 16px;
}

/*PROFILE IMAGE ANIMATE */

@keyframes profile_image {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.4% {
    transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.81% {
    transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  10.21% {
    transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  13.61% {
    transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.52% {
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.32% {
    transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.03% {
    transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  36.74% {
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.44% {
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  59.86% {
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.28% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.69% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
/* ---------------------- E-N-D A-B-O-U-T U-S ---------------------- */

/* ---------------------- S-T-A-R-T E-V-E-N-T-S ---------------------- */
/* COVER */
.event{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5% 0% 5% 5%;
}
.ev-title {
  font-size: 40px;
  flex: 2;
}
.ev-photo{
  border-radius: 25px;
}
.event-color span{
  color: dodgerblue;
}

/* EVENTS */
.orientation, .ictweek {
  background-color: #d9f2fd;
}
.orientation, .y4it, .ictweek {
  padding-top: 25px;
}
.sub-title{
  padding-bottom: 1.5%;
  text-align: center;
}
.events-listings{
  padding: 4% 0;
}
.events-item{
  padding-top: 50px;
  padding: 2% 10%;
  display: flex;
}
.img-cont{
  text-align: center;
}
.events-item img{
  height: 200px;
}
.event-desc{
  margin-left: 5%;
}
.desc{
  font-size: 16px;
  flex: 2;
  text-align: justify;
  padding-bottom: 25px;
}
.avp {
  text-align: center;
  padding-bottom: 50px;
}

/* CONTESTANTS & ENTRIES */
.zoom {
  transition: transform .2s;
}
.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.ictweek-listings .slider{
  padding-left: 10%;
  max-width: 100%;
  grid-template-columns: 20% 80%;
  position: relative;
  display: grid;
  border-radius: 5px;
}
.ictweek-listings .slide_navigation li a{
  display: block;
  margin: 0;
  border-left: 1px solid rgb(172, 172, 172);
  padding: 7%;
  color: #333;
}
.ictweek-listings .slide_navigation li a.active{
  color: dodgerblue;
  border-left: 3px solid dodgerblue;
}
.ictweek-listings .slider .slides{
  overflow-y: auto;
  max-height: 700px;
  scrollbar-width: none;
}
.ictweek-listings .inner_content .desc{
  text-align: center;
  display:flex;
}
.ictweek-listings .inner_content .cont-block{
  display:block;
  text-align: center;
  padding-right: 50px;
}
.ictweek-listings .inner_content .entry-block{
  display:block;
}
.ictweek-listings .inner_content .row-flex{
  display:flex;
  padding-bottom: 25px;
}
.ictweek-listings .inner_content .second-row{
  display:flex;
  margin-left: 15%;
}
.ictweek-listings .inner_content .solo-singing .entry iframe{
  width: 560px;
  height: 315px;
  border-radius: 15px;
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.ictweek-listings .inner_content p{
  color: #333;
  font-size: 16px;
}
.ictweek-listings .inner_content h3{
  color: #333;
  padding-top: 100px;
}
.ictweek-listings .inner_content h2{
  color: #333;
  padding-top: 50px;
  padding-bottom: 25px;
}
.ictweek-listings .inner_content h1{
  color: #000;
  margin-bottom: 3%;
}
.ictweek-listings .slider .slides .slide{
  min-height: 50px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  color: #333;
}
.ictweek-listings img.pageant-pic{
  width: 250px; 
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.ictweek-listings img.contestant{
  width: 200px; 
  height: 300px;
  object-fit: cover;
  border-radius: 50px;
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.ictweek-listings img.entry{
  width: 300px; 
  height: 400px;
  border-radius: 15px;
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.ictweek-listings img.website{
  width: 200px; 
  height: 300px;
  object-fit: cover;
  border-radius: 50px;
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
/* ---------------------- E-N-D E-V-E-N-T-S ---------------------- */

/* ---------------------- S-T-A-R-T G-A-L-L-E-R-Y ---------------------- */
.gal-title{
  text-align: center;
  margin: 15% auto 10% auto;
}
.gal-wrapper{
  margin: 2px;
}
.gal {
  margin-bottom: 5%;
}

@media only screen and (max-width: 1220px){
  .events-page, .about-us, .masthead{
    height: 500px;
  }
}
@media only screen and (max-width: 970px){
  .events-page, .about-us, .masthead{
    height: 450px;
  }
}
@media only screen and (max-width: 880px){
  .events-page, .about-us, .masthead{
    height: 400px;
  }
}
@media only screen and (max-width: 770px){
  .events-page, .about-us, .masthead{
    height: 350px;
  }
  .mission-icon, .vision-icon{
    display: none;
  }
  .section-title{
    text-align: center;
  }
}
@media only screen and (max-width: 560px){
  .events-page, .about-us, .masthead{
    height: 300px;
  }
}
@media only screen and (max-width: 480px){
  .events-page, .about-us, .masthead{
    height: 250px;
  }
}
.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
}

/* ---------------------- E-N-D G-A-L-L-E-R-Y ---------------------- */

/* --------------- JOIN US ----------------- */
.masthead {
  width: 100%; 
  height: auto;
  background-image: url("/img/join-us/header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.heading {
  color: #FFFFFF;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}
.form {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
.form iframe {
    width: 700px;
    height: 750px;
  }

@media screen and (max-width: 1245px) {
  .heading {
  padding-top: 140px;
  padding-bottom: 140px;
  }
  .form iframe {
    width: 690px;
  }
}
@media screen and (max-width: 1090px) {
  .heading {
  padding-top: 130px;
  padding-bottom: 130px;
  }
  .form iframe {
    width: 675px;
  }
}
@media screen and (max-width: 1015px) {
  .heading {
  padding-top: 120px;
  padding-bottom: 120px;
  }
  .form iframe {
    width: 650px;
  }
}
@media screen and (max-width: 940px) {
  .heading {
  padding-top: 110px;
  padding-bottom: 110px;
  }
  .form iframe {
    width: 625px;
  }
}
@media screen and (max-width: 865px) {
  .heading {
  padding-top: 100px;
  padding-bottom: 100px;
  }
  .form iframe {
    width: 600px;
  }
}
@media screen and (max-width: 790px) {
  .heading {
  padding-top: 90px;
  padding-bottom: 90px;
  }
  .form iframe {
    width: 575px;
  }
}
@media screen and (max-width: 715px) {
  .heading {
  padding-top: 75px;
  padding-bottom: 75px;
  }
  .form iframe {
    width: 550px;
  }
}
@media screen and (max-width: 565px) {
  .heading {
  padding-top: 60px;
  padding-bottom: 60px;
  }
  .form iframe {
    width: 525px;
  }
}
@media screen and (max-width: 490px) {
  .heading {
  padding-top: 50px;
  padding-bottom: 50px;
  }
  .form iframe {
    width: 500px;
  }
}
@media screen and (max-width: 490px) {
  .heading {
  padding-top: 40px;
  padding-bottom: 40px;
  }
  .form iframe {
    width: 475px;
  }
}

/* ---------------- END JOIN US ------------------- */