.footer-left {
    margin-top: -4.2%;
    margin-left: 5%;
  }
  
  .footer-right {
    float: right;
    margin-top: -4.8%;
    margin-right: 5%;
  }

  @media screen and (max-width: 1194px) {
    .footer-left {
      margin-top: -5.2%;
      margin-left: 5%;
    }
  
    .footer-right {
      float: right;
      margin-top: -5.5%;
      margin-right: 5%;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .footer-left {
      margin-top: -6.2%;
      margin-left: 5%;
    }
  
    .footer-right {
      float: right;
      margin-top: -6.4%;
      margin-right: 5%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .footer-left {
      margin-top: 0%;
      margin-left: 10%;
    }
  
    .footer-right {
      float: right;
      margin-top: -8.2%;
      margin-right: 10%;
    }
  }
  
  /* Responsive footer (for mobile devices) */
  @media screen and (max-width: 700px) {
    .footer-left, .footer-right {
      float: none;
      text-align: center;
      margin: 2%;
    }
  }
  
  .footer-centered img {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
  }